{
  "plugins": [[
    "babel-plugin-styled-components",
    {
      "namespace": "me",
      "displayName": false,
      "fileName": false,
      "ssr": false,
      "minify" : true ,
      "transpileTemplateLiterals" : true
    }
  ]]
}
